<div class="card m-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item me-2">
        <input [(ngModel)]="message.username" class="form-control" placeholder="Username" name="username">
      </li>
      @if (!connected) {
        <li class="nav-item">
          <button class="btn btn-success" type="button" (click)="connect()" [disabled]="!message.username">
            Conectar
          </button>
        </li>
      }
      @if (connected) {
        <li class="nav-item">
          <button class="btn btn-warning" type="button" (click)="disconnect()">
            Desconectar
          </button>
        </li>
      }
    </ul>
  </div>

  <!-- Solo se muestra el chat si el usuario está conectado -->
  @if (connected) {
    <div>
      <div class="card-body" style="overflow-y: scroll; height: 360px;">
        <ul class="list-group">
          @for (message of messages; track message) {
            <li class="list-group-item list-group-item-light">
              @if (message.type === 'NEW_USER') {
                {{ message.date | date: 'shortTime' }}: {{ message.text }} &#64;<span [ngStyle]="{'color': message.color}">{{ message.username }}</span>
              } @else {
                {{ message.date | date: 'shortTime' }} <span
              [ngStyle]="{'color': message.color}">{{ message.username }}</span> dice: <br/> {{ message.text }}
            }
          </li>
        }
      </ul>
    </div>
    <div class="card-footer">
      <form (ngSubmit)="onSendMessage()">
        <div class="row">
          <div class="col">
            <input class="form-control" name="text" [(ngModel)]="message.text"
              placeholder="Escribir mensaje..." (keyup)="onTypingEvent()">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </form>
      <div>
        {{ typing }}
      </div>
    </div>
  </div>
}
</div>
